#edit-photos img {
    height: 100px;
    width: auto;
    padding: 5px;
    margin-top: 10px;
    /* margin-bottom: 10px; */
}

#edit-photos {
    border-bottom: 1.2px solid #ccc;
    padding-bottom: 10px;
}

#edit-photos h4 {
    font-size: 25px;
    padding-top: 15px;
}

.edit-photo-li {
    list-style: none;
    display: inline-block;
}

.edit-x:hover {
    cursor: pointer;
    color: rgb(44, 104, 246);
}

.edit-x {
    padding-left: 6px;
    padding-bottom: 8px;
}