.banner {
    width: 100%;
    height: auto;
    overflow: hidden;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.banner-container {
    position: relative;
}

.search-bar-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}
.search {
    width: 600px;
    padding: 8px;
    font-size: 16px;
    height: 50px;
    border-radius: 5px;
    border: 1px solid #aaa;
    margin-top: 10px;
  }

.intro {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    justify-content: left;
    padding: 10px;
    padding-left: 2%;
}

.slogan {
    position: absolute;
    color: white;
    text-shadow: 1px 1px 3px black;
    top: -80%;
    /* transform: translate(50%, -50%); */
    font-size: 36px;
    /* text-align: center; */
    display: flex;
    padding-left: 50px;
}

#bed-bath, #category, #street, #city {
    font-size: 14px;
    padding: 3px;
}

#price {
    font-size: 20px;
    padding: 3px;
}

.buy-page-container {
    display: grid;
    grid-template-columns: 1fr, 1fr;
    height: 100vh;
}

.buy-page-map {
    grid-column: 1;
    grid-row: 1;
}

.buy-page-listings {
    grid-column: 2;
}

.search-results {
    position: absolute;
    top: 100%;
    left: 0;
    width: 595px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    max-height: 200px;
    overflow-y: auto;
    height: auto;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 3px 4px 4px black;
}

.search-results li {
    padding: 7px;
    font-size: 18px;
    border-bottom: 1px solid #ddd;
}

.first-img {
    width: 100%;
    max-height: 180px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.display-item {
    width: 260px;
    height: 300px;
    font-family: Arial, Helvetica, sans-serif;
    /* display: inline-block; */
}

.display-item:hover {
    box-shadow: 1px 4px 6px #aaa;
}

.display-container {
    display: inline-block;
    box-shadow: 0px 3px 5px #aaa;
    border-radius: 5px;
    margin: 8px;
    width: 260px;
}

.home-page-listings {
    max-width: 1400px;
}

.main {
    display: flex;
    justify-content: center;
}

.skyline {
    margin-top: 80px;
    display: flex;
    justify-content: center;
}

.skyline img {
    margin-bottom: -25px;
}