.signin-link {
    padding-left: 38px;
}

.signin-link > h4, .signin-link > h5 {
    display: inline-block;
    font-size: 17px;
    font-weight: 100;
    font-family: sans-serif;
    padding-bottom: 15px;   
}

.signin-link > h5 {
    border-bottom: 4px solid rgb(0, 112, 248);
    border-radius: 3px;
}

.signin-link > h4 {
    border-bottom: 1px solid #ccc;
    padding-right: 25px;
    padding-left: 8px;
}

.reqs > li {
    list-style: none;
    font-size: 12px;
    color: #aaa;
}

.reqs-container {
    display: flex;
    justify-content: flex-start;
    margin-right: 120px;
}

.terms {
    font-size: 12px;
    color: #aaa;
}