.signin-link {
    padding-left: 40px;
}

.signin-link > h4, .signin-link > h5 {
    display: inline-block;
    font-size: 17px;
    font-weight: 100;
    font-family: sans-serif;
    padding-bottom: 15px;   
}

.signin-link > h5 {
    border-bottom: 4px solid rgb(0, 112, 248);
    border-radius: 3px;
}

.signin-link > h4 {
    border-bottom: 1px solid #ccc;
    padding-right: 25px;
}

.reqs-container {
    padding-bottom: 20px;
    padding-top: 10px;
}

.reqs {
    position: absolute;
    left: 0;
    margin-left: 40px;
}

.reqs li {
    list-style: none;
    color: #aaa;
    font-size: 13px;
    font-family: sans-serif;
    padding: 3px;
}

.terms {
    font-size: 13px;
    color: #aaa;
    padding-top: 2px;
    font-family: sans-serif;
}

#login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;
}