.header {
    background-color: #ffffff;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    border-bottom: 1px solid #eee;
}

.header-nav {
    flex-grow: 1;
}

.header > ul {

}

.header-list {
    display: flex;
    padding: 0;
    margin: 0;
    justify-content: space-between;
}

.header-list-item {
    margin-left: 50px;
    margin-right: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 8px;
}

#logo {
    width: 160px;
}

.profile-dropdown {
    z-index: 1;
    overflow-y: auto;
    position: absolute;
    right: 0;
    width: 200px;
    background-color: white;
    height: auto;
    border-radius: 5px;
    box-shadow: 2px 2px 5px;
}

.profile-dropdown li {
    padding: 5px;
    border-bottom: 1px solid #ddd;
    width: 60%;
    padding-left: 10px;
    margin: auto;
    text-align: center;
}

.profile-dropdown li:hover {
    background-color: lightskyblue;
}

footer {
    margin-top: 50px;
    border-top: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 13px;
    /* z-index: 1;  */
}