* {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    display: flex;
    font-family: serif;
    font-size: 24px;
    justify-content: center;
    font-weight: lighter;
    padding-bottom: 40px;
}

.new-account-link {
    padding-left: 40px;
}

.new-account-link > h4, .new-account-link > h5 {
    display: inline-block;
    font-size: 17px;
    font-weight: 100;
    font-family: sans-serif;
    padding-bottom: 15px;
}

.new-account-link > h4 {
    border-bottom: 4px solid rgb(0, 112, 248);
    border-radius: 3px;
}

.new-account-link > h5 {
    border-bottom: 1px solid #ccc;
    padding-left: 25px;
}

.active-link {
    color: inherit;
    font-weight: 100;
    font-family: sans-serif;
    text-decoration: none;
  }  

.active-link:hover {
    color: rgb(0, 112, 248);
    cursor: pointer;
}

a {
    color: inherit;
    font-weight: 100;
    font-family: sans-serif;
    text-decoration: none;
  }  

a:hover {
    color: rgb(0, 112, 248);
}


.email, .password {
    font-size: 15px;
    font-family: sans-serif;
}

.email {
    padding-top: 30px;
}
.password > input {
    width: 350px;
    height: 35px;
    background-color: rgb(246, 246, 250);
    border: 1px solid #aaa;
    border-radius: 3px;
    display: block;
    padding-left: 15px;
    font-size: 16px;
    margin-top: 6px;
}

.password > input:hover {
    border: 1px solid rgb(0, 112, 248);
}

.email > input {
    width: 350px;
    height: 35px;
    background-color: rgb(246, 246, 250);
    border: 1px solid #aaa;
    border-radius: 3px;
    display: block;
    padding-left: 15px;
    font-size: 16px;
    margin-top: 6px;
}

.email > input:hover {
    border: 1px solid rgb(0, 112, 248);
}

.button {
    display: block;
    justify-content: center;
    width: 370px;
    height: 45px;
    border-radius: 3px;
    background-color: rgb(0, 112, 248);
    color: white;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 2.6;
    font-size: 15px;
}

.button:hover {
    background-color: rgb(3,72,151);
    cursor: pointer;
}

.button-container {
    display: flex;
    padding-top: 20px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;
}

label {
    display: block;
}


.errors > li {
    list-style: none;
    color: darkred;
    font-size: 13px;
}

form::after {
    content: "";
    position: center;
    left: 0;
    bottom: -1px;
    width: 90%;
    height: 1px;
    background-color: #ccc;
    margin-top: 60px;
}

input[type=text]:focus, input[type=password]:focus {
    outline: 4px solid lightskyblue;
    background-color: white;
  }